.clockLayout {
    -fx-background-color: black;
    background-color: #000000;
}

.face {
    -fx-stroke-width: 0;
    -fx-fill: rgba(255, 190, 0, 0.65);
}

.thin {
    -fx-font-family: "DS-Digital";
}

.regular {
    -fx-font-family: "Roboto";
}

.clockText {
    -fx-font-size: 64pt;
}

.secondText {
    -fx-font-size: 24pt;
    -fx-padding-left: 8px;
}

.dateText {
    -fx-font-size: 32pt;
}
